POSTGRES_DB=cashflow
POSTGRES_USER=cashflow
POSTGRES_PASSWORD=<generate-a-long-random-password>
APP_DOMAIN=cash-flow-app.duckdns.org
APP_ORIGIN=https://cash-flow-app.duckdns.org:8443
CASHFLOW_SESSION_TTL_HOURS=12
CASHFLOW_CORS_ORIGINS=
